[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cfn-environment-base = "==0.9.22"
troposphere = "==2.2.1"


[requires]
python_version = "2.7"
